<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.francescobonizzi.starfall" android:installLocation="auto" android:versionCode="27" android:versionName="27">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Starfall" android:roundIcon="@mipmap/ic_launcher_round"></application>
</manifest>